{% extends "base.html" %}
{% block title %}Info{% endblock %}
{% set active_page = "info" %}
{% block html_head %}
{% endblock %}

{% block content %}
<h3>Developer</h3>
<h5><a href="https://github.com/deadly" target="_blank">github.com/deadly</a></h5><br/>
<h3>Discord Server</h3>
<h5><a href="https://discord.gg/MYGeHKKqug" target="_blank">https://discord.gg/MYGeHKKqug</a></h5><br/>
<h3>Donations</h3>
<h5>Donations are appreciated. To donate, join the Discord server and DM <a href="discord://discord.com/users/1103966379100606516">decaf</a> (ID: 1103966379100606516)</h5><br />
<h3>Contributors</h3>
<p>The following people have contributed to Agent Yoinker in some way</p>
<h5><a href="https://github.com/neefs" target="_blank">github.com/neefs</a></h5>
<h5><a href="https://github.com/Davi-S" target="_blank">github.com/Davi-S</a></h5>
{% endblock %}