{% extends "base.html" %}
{% block title %}Update Found{% endblock %}
{% block html_head %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center h-100 text-center">
  <div class="mx-5 my-5 px-5">
    <div class="row">
      <div class="col-md-12">
        <p class="mb-0 my-3">An update was found. Would you like to update?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <form action="{{ url_for('update_found')}}" method="post">
          <div class="form-group">
            <fieldset>
              <select class="form-control" name="update" value="{{value}}" placeholder="{{value}}" id="update">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </fieldset>
          </div>
          <div class="form-group">
            <button type="submit" class="mt-4 btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}




